<h2> Sign Up! </h2>
<h3>Welcome to the Property Management </h3>
 
<form action="/signup" method="post">
	<label>email: <label>
		<input type="email" name="email" required>
		<br>
	<label>User Name: </label>
		<input type="text" name="user_name">
		<br>
	<label>password: <label>
		<input type="password" name="password" required>
	<br><br>
	<input type="submit" value="Sign Up">
	
</form>