
<h2>Add new propety manager<h2>

<form action="/admin/managers" method="post">
	<label style="font-size:18px">Propety Manager email:</label>
	<input style="font-size:18px" type="email" name="email"><br>
	<% if @properties != nil && @properties.size > 0%>
		<label style="font-size:18px">Properties for management:</label><br>
		<%@properties.each do |property|%>
			<%if property.user_id == nil || property.user_id == ""%>
				<input type="checkbox" name="property_name_<%=property.id%>" value="<%=property.name%>"><%=property.name%>
				<br>
			<%end%>
		<%end%>
	<%end%>
	<br><br>
	<input type="submit" value="New Property Manager">

</form>