<h1>Add a property by <%=@pm.user_name%></h1>

<form action="/properties" method="post">
	<label>Property Name:</label>
		<input type="text" name="name" required><br>
	<label>Address:</label>
		<input type="text" name="address" required><br>
	<label>Managed by:</label>
		<input type="checkbox" name="user_name" valus="<%=@pm.email%>" checked><%=@pm.user_name%>
	<br>
	<label>Tenant:</label>
	<label>name:<input type="text" name="tenant_name"></label>
	<lable>email:<input type="email" name="tenant_emai"></lable>
	<label>phone number: <input type="text" name="tenant_phone_number"></label>
	<label>Rent: <input type="text" name="rent"></label><br>
	<label>Security Deposit: <input type="text" name="security_deposit"></label><br>
	<label>Lease:</label>
		<label>starting date: <input type="text" name="lease_starting_date"></label>
		<label>ending date: <input type="text" name="lease_ending_data"></label>
	<br>
	

	<br><br>
	<input type="submit" value="New Property">
</form>
